__pycache__
.coverage*
.ipynb_checkpoints
.snakemake
.snakemake_timestamp
*.annotated_links
*.bak
*.bed*
*.bigWig
*.chain*
*.cprof
*.csv*
*.dill
*.docx
*.egg-info
*.err
*.fa
*.feather
*.gaf*
*.graphml*
*.gtf*
*.h5ad
*.html
*.ipynb
*.jpg
*.json
*.links
*.log
*.loom
*.meme
*.mp4
*.mtx*
*.obo
*.old
*.out
*.owl
*.pdf
*.pkl*
*.png
*.pt
*.pyc
*.tbl
*.gephi
*.tfevents.*
*.tsv*
*@neomake*
*Untitled*
.deprecated
reports
conda*/
cov.xml
dask-worker-space
objectdb
packrat/lib
packrat/lib*/
packrat/src/
temp
tmp
tools
dist
