table.docutils td p {
    font-size: inherit !important;
}
.rst-content table.docutils th {
    padding: 8px 4px;
}
.rst-content table.docutils td {
    font-size: 80%;
    padding: 6px 4px;
}
.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}
